{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>hello bara! Mohamed</h1> 
 <a href="{{ path('product_new') }}">Create new</a><br>
  <a href="{{ path('product_index') }}">view list products</a>
{% endblock %}
